name: Code Quality

on:
  schedule:
    - cron: "0 3 * * 1" # Monday 3am UTC
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: read
  actions: read
  security-events: write

jobs:
  quality:
    uses: frasermolyneux/actions/.github/workflows/codequality.yml@main
    with:
      sonar-project-key: frasermolyneux_travel-itinerary
      sonar-organization: frasermolyneux
      sonar-host-url: https://sonarcloud.io
      build-target: dotnet-web-ci
      dotnet-project: MX.TravelItinerary.Web
      dotnet-version: 9.0.x
      src-folder: src
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  devops-secure-scanning:
    uses: frasermolyneux/actions/.github/workflows/devops-secure-scanning.yml@main

  dependency-review:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Dependency Review
        uses: actions/dependency-review-action@v4
