name: Feature Development

on:
  workflow_dispatch:
  push:
    branches:
      - 'feature/**'

permissions: {}

jobs:
  dotnet-web-ci:
    permissions:
      contents: read
      id-token: write # This is required for Az CLI Login
    runs-on: ubuntu-latest

    steps:
    - uses: frasermolyneux/actions/dotnet-web-ci@main
      with:
        dotnet-project: "MX.TravelItinerary.Web"
        dotnet-version: 9.0.x
        src-folder: "src"

  terraform-plan-and-apply-dev:
    permissions:
      contents: read
      id-token: write # This is required for Az CLI Login
    environment: Development
    runs-on: ubuntu-latest
    needs: [dotnet-web-ci]

    concurrency: # This is required to prevent multiple GitHub Actions invocations against stateful resources. e.g. Terraform state file / Database / Deployed Apps
      group: ${{ github.repository }}-dev

    steps:
    - uses: frasermolyneux/actions/terraform-plan-and-apply@main
      with:
        terraform-folder: "terraform"
        terraform-var-file: "tfvars/dev.tfvars"
        terraform-backend-file: "backends/dev.backend.hcl"
        AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
        AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
        AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}

    - id: terraform-output
      shell: bash
      run: |
        cd terraform
        echo "resource_group_name=$(terraform output -raw resource_group_name)" >> $GITHUB_OUTPUT
        echo "web_app_name=$(terraform output -raw web_app_name)" >> $GITHUB_OUTPUT
      env:
        ARM_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
        ARM_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
        ARM_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
        ARM_USE_AZUREAD: true
        ARM_USE_OIDC: true

    outputs:
      resource_group_name: ${{ steps.terraform-output.outputs.resource_group_name }}
      web_app_name: ${{ steps.terraform-output.outputs.web_app_name }}

  app-service-deploy-dev:
    permissions:
      contents: read
      id-token: write # This is required for Az CLI Login
    environment: Development
    runs-on: ubuntu-latest
    needs: [dotnet-web-ci, terraform-plan-and-apply-dev]

    concurrency: # This is required to prevent multiple GitHub Actions invocations against stateful resources. e.g. Terraform state file / Database / Deployed Apps
      group: ${{ github.repository }}-dev

    steps:
    - uses: frasermolyneux/actions/deploy-app-service@main
      with:
        web-artifact-name: "MX.TravelItinerary.Web"
        web-app-name: ${{ needs.terraform-plan-and-apply-dev.outputs.web_app_name }}
        resource-group-name: ${{ needs.terraform-plan-and-apply-dev.outputs.resource_group_name }}
        AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
        AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
        AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
